* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 40px;
}

#grid-container {
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       gap: 20px;
}

.grid {
    border: 2px solid red;
    padding: 15px;
}
img {
    height: 150px;
    width: 250px;
    border-radius: 15px;
}